My Sub-workflow.json
{
  "name": "My Sub-workflow",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "id": "7f6a14d4-9835-4d92-9e36-9683e09f3f52",
      "typeVersion": 1.1,
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -2220,
        2280
      ]
    },
    {
      "parameters": {
        "zone": {
          "__rl": true,
          "value": "serp_api1",
          "mode": "list",
          "cachedResultName": "serp_api1"
        },
        "country": {
          "__rl": true,
          "mode": "list",
          "value": "us"
        },
        "url": "={{(()=>{let v=$json.query;if(v==null)return\"\";if(typeof v===\"object\"&&v.URL)return String(v.URL).trim();let s=String(v).trim();s=s.replace(/^(?:json)?\\s*/i,\"\").replace(/$/,\"\");try{const o=JSON.parse(s);if(o&&typeof o===\"object\"&&o.URL)return String(o.URL).trim()}catch(_){}return s})()}}",
        "requestOptions": {}
      },
      "type": "@brightdata/n8n-nodes-brightdata.brightData",
      "typeVersion": 1,
      "position": [
        -1740,
        2180
      ],
      "id": "af8bf623-7e58-4336-a64d-e5afa8c941f9",
      "name": "Access and extract data from a specific URL",
      "credentials": {
        "brightdataApi": {
          "id": "ofo0TiM6HxAHUnuM",
          "name": "BrightData account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4f06be96-1251-44fe-aaea-c03a180db5ac",
              "name": "Title, URL, Snippet",
              "value": "={{ JSON.stringify($json.organic.map(o => ({ title: o.title, url: o.link, snippet: o.description })), null, 2) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1480,
        2180
      ],
      "id": "fa9e6995-29f3-4361-a9af-4724c72dfda8",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "https://www.google.com/search?q",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "d299893d-7a47-4fe9-973f-eab842b30851"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d7cd57d8-4378-4590-8243-2536e0ae363d",
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "https://www.google.com/search?q",
                    "operator": {
                      "type": "string",
                      "operation": "notContains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2000,
        2280
      ],
      "id": "8176ee73-e960-453b-bc78-372c60983d8a",
      "name": "Switch"
    },
    {
      "parameters": {
        "zone": {
          "__rl": true,
          "value": "web_unlocker1",
          "mode": "list",
          "cachedResultName": "web_unlocker1"
        },
        "country": {
          "__rl": true,
          "mode": "list",
          "value": "us"
        },
        "url": "={{(()=>{let v=$json.query;if(v==null)return\"\";if(typeof v===\"object\"&&v.URL)return String(v.URL).trim();let s=String(v).trim();s=s.replace(/^(?:json)?\\s*/i,\"\").replace(/$/,\"\");try{const o=JSON.parse(s);if(o&&typeof o===\"object\"&&o.URL)return String(o.URL).trim()}catch(_){}return s})()}}",
        "requestOptions": {}
      },
      "type": "@brightdata/n8n-nodes-brightdata.brightData",
      "typeVersion": 1,
      "position": [
        -1720,
        2420
      ],
      "id": "ba29059d-1db6-414d-9b65-9fcf52a57fa2",
      "name": "Access and extract data from a specific URL1",
      "credentials": {
        "brightdataApi": {
          "id": "ofo0TiM6HxAHUnuM",
          "name": "BrightData account"
        }
      }
    }
  ],
  "pinData": {
    "Start": [
      {
        "json": {
          "query": "{\"URL\":\"https://www.google.com/search?q=dashboard-lim.com+recent+growth&brd_json=1\"}"
        }
      }
    ]
  },
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access and extract data from a specific URL": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Access and extract data from a specific URL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Access and extract data from a specific URL1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Access and extract data from a specific URL1": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "72676d30-f246-42da-b58b-997f8fe8cfd6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7d00adb66fd9b9e829cd2b9ea4e4833789b30d07b2af67253b71bc389fcab134"
  },
  "id": "S4v5vqGFPBW99CKG",
  "tags": []
}